@keyframes nav_color {
  from {color: white;}
  to {color: #db4437;}
}

@keyframes slide {
  from {left: 100%;}
  to {left: 50%;}
}

@keyframes slide_stuff {
  from {width: 100%;}
  to {width: 50%;}
}

.change-color {
  animation: nav_color 1s ease-in;
  color: #db4437;
  -webkit-transition: color 0.5s ease-in;
  -moz-transition: color 0.5s ease-in;
  -o-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
}

.change-color:hover {
  color: black;
}

.slide-menu {
  animation: slide 1s ease-out;
  animation-fill-mode: forwards;
}

.slide-other {
  animation: slide_stuff 1s ease-out;
  animation-fill-mode: forwards;
}

#the_main_menu {
  position: fixed;
  left: 100%;
  width: 50%;
  min-height: 100%;
  background: white;
  padding-top: 200px;
  text-align: center;
}

#menu-ajax-content {
  width: 100%;
}
